body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  background-color: yellow;
  height: 100vh; }

#outerWrapper {
  position: absolute;
  width: 90%;
  height: 80vh;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

#header {
  width: 100%;
  height: 10%;
  position: absolute;
  background-color: red; }
  #header h3 {
    position: absolute;
    bottom: -25px;
    right: 0;
    font-size: 22px;
    padding-right: 2%; }
    #header h3 span {
      font-size: 1.5em;
      padding-right: 15px; }
  #header.ng-enter {
    -webkit-transition: 2s linear all;
    opacity: 0; }
  #header.ng-enter.ng-enter-active {
    -webkit-transition-delay: 1.2s;
    opacity: 1; }
  #header.ng-leave {
    -webkit-transition: 0.5s linear all;
    opacity: 1; }
  #header.ng-leave.ng-leave-active {
    opacity: 0; }

#menu {
  width: 100%;
  height: 10%;
  background-color: red;
  position: absolute; }
  #menu ul {
    position: relative; }
    #menu ul li {
      display: inline-block;
      float: right;
      padding-right: 2%;
      position: relative; }
      #menu ul li a {
        text-decoration: none;
        color: black;
        bottom: 0; }
        #menu ul li a:hover {
          text-decoration: underline; }
  #menu.ng-enter {
    -webkit-transition: 2s linear all;
    opacity: 0; }
  #menu.ng-enter.ng-enter-active {
    -webkit-transition-delay: 0.5s;
    opacity: 1; }
  #menu.ng-leave {
    -webkit-transition: 0.5s linear all;
    opacity: 1; }
  #menu.ng-leave.ng-leave-active {
    opacity: 0; }

#innerWrapper {
  width: 100%;
  height: 90%;
  position: absolute;
  top: 10%; }
  #innerWrapper.ng-leave {
    -webkit-transition: 0.5s linear all;
    opacity: 1; }
  #innerWrapper.ng-leave.ng-leave-active {
    opacity: 0; }

#homePhoto {
  position: relative;
  float: left;
  height: 100%;
  width: 32%;
  background-color: red; }
  #homePhoto.ng-enter {
    -webkit-transition: 0.65s linear all;
    -webkit-transform: translateX(-35px);
    transform: translateX(-35px);
    opacity: 0; }
  #homePhoto.ng-enter.ng-enter-active {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; }
  #homePhoto.ng-leave {
    -webkit-transition: 0.5s linear all;
    opacity: 1; }
  #homePhoto.ng-leave.ng-leave-active {
    opacity: 0; }

#homeAbout {
  background-color: black; }
  #homeAbout.ng-enter {
    -webkit-transition: 0.65s linear all;
    -webkit-transform: translateY(-35px);
    transform: translateY(-35px);
    opacity: 0; }
  #homeAbout.ng-enter.ng-enter-active {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; }
  #homeAbout.ng-leave {
    -webkit-transition: 0.5s linear all;
    opacity: 1; }
  #homeAbout.ng-leave.ng-leave-active {
    opacity: 0; }

#homePortfolio {
  background-color: white; }
  #homePortfolio.ng-enter {
    -webkit-transition: 0.65s linear all;
    -webkit-transform: translate(30px, -30px);
    transform: translate(30px, -30px);
    opacity: 0; }
  #homePortfolio.ng-enter.ng-enter-active {
    -webkit-transform: translate(0);
    transform: translate(0);
    opacity: 1; }
  #homePortfolio.ng-leave {
    -webkit-transition: 0.5s linear all;
    opacity: 1; }
  #homePortfolio.ng-leave.ng-leave-active {
    opacity: 0; }

#homeTBD {
  background-color: purple; }
  #homeTBD.ng-enter {
    -webkit-transition: 0.65s linear all;
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
    opacity: 0; }
  #homeTBD.ng-enter.ng-enter-active {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  #homeTBD.ng-leave {
    -webkit-transition: 0.5s linear all;
    opacity: 1; }
  #homeTBD.ng-leave.ng-leave-active {
    opacity: 0; }

#homeContact {
  background-color: blue; }
  #homeContact.ng-enter {
    -webkit-transition: 0.65s linear all;
    -webkit-transform: translate(25px, 25px);
    transform: translate(25px, 25px);
    opacity: 0; }
  #homeContact.ng-enter.ng-enter-active {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0); }
  #homeContact.ng-leave {
    -webkit-transition: 0.5s linear all;
    opacity: 1; }
  #homeContact.ng-leave.ng-leave-active {
    opacity: 0; }

.homeLinks {
  position: relative;
  float: left;
  width: 34%;
  height: 50%; }
  .homeLinks h2 {
    position: absolute;
    bottom: -6%;
    right: 5%; }

#aboutPhoto {
  float: left;
  width: 32%;
  height: 100%;
  background-color: green; }
  #aboutPhoto.ng-enter {
    -webkit-transition: 0.65s linear all;
    -webkit-transform: translateX(-35px);
    transform: translateX(-35px);
    opacity: 0; }
  #aboutPhoto.ng-enter.ng-enter-active {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; }
  #aboutPhoto.ng-leave {
    -webkit-transition: 0.5s linear all;
    opacity: 1; }
  #aboutPhoto.ng-leave.ng-leave-active {
    opacity: 0; }

#aboutContent {
  float: left;
  width: 68%;
  height: 100%;
  background-color: gray; }
  #aboutContent.ng-enter {
    -webkit-transition: 0.65s linear all;
    -webkit-transform: translateX(35px);
    transform: translateX(35px);
    opacity: 0; }
  #aboutContent.ng-enter.ng-enter-active {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; }
  #aboutContent.ng-leave {
    -webkit-transition: 0.5s linear all;
    opacity: 1; }
  #aboutContent.ng-leave.ng-leave-active {
    opacity: 0; }

.projects {
  float: left;
  width: 50%;
  height: 50%;
  position: relative; }
  .projects.ng-enter {
    -webkit-transition: .55s linear all;
    opacity: 0; }
  .projects.ng-enter.ng-enter-active {
    opacity: 1; }
  .projects h2 {
    position: absolute;
    bottom: 0%;
    right: 5%; }

#workflowPhoto {
  float: left;
  width: 32%;
  height: 100%;
  background-color: purple; }
  #workflowPhoto.ng-enter {
    -webkit-transition: 0.65s linear all;
    -webkit-transform: translateX(-35px);
    transform: translateX(-35px);
    opacity: 0; }
  #workflowPhoto.ng-enter.ng-enter-active {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; }
  #workflowPhoto.ng-leave {
    -webkit-transition: 0.5s linear all;
    opacity: 1; }
  #workflowPhoto.ng-leave.ng-leave-active {
    opacity: 0; }

#workflowContent {
  float: left;
  width: 68%;
  height: 100%;
  background-color: black; }
  #workflowContent.ng-enter {
    -webkit-transition: 0.65s linear all;
    -webkit-transform: translateX(35px);
    transform: translateX(35px);
    opacity: 0; }
  #workflowContent.ng-enter.ng-enter-active {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; }
  #workflowContent.ng-leave {
    -webkit-transition: 0.5s linear all;
    opacity: 1; }
  #workflowContent.ng-leave.ng-leave-active {
    opacity: 0; }

#contactPhoto {
  float: left;
  width: 32%;
  height: 100%;
  background-color: red; }
  #contactPhoto.ng-enter {
    -webkit-transition: 0.65s linear all;
    -webkit-transform: translateX(-35px);
    transform: translateX(-35px);
    opacity: 0; }
  #contactPhoto.ng-enter.ng-enter-active {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; }
  #contactPhoto.ng-leave {
    -webkit-transition: 0.5s linear all;
    opacity: 1; }
  #contactPhoto.ng-leave.ng-leave-active {
    opacity: 0; }

#contactContent {
  float: left;
  width: 68%;
  height: 100%;
  background-color: green; }
  #contactContent.ng-enter {
    -webkit-transition: 0.65s linear all;
    -webkit-transform: translateX(35px);
    transform: translateX(35px);
    opacity: 0; }
  #contactContent.ng-enter.ng-enter-active {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; }
  #contactContent.ng-leave {
    -webkit-transition: 0.5s linear all;
    opacity: 1; }
  #contactContent.ng-leave.ng-leave-active {
    opacity: 0; }

/*# sourceMappingURL=portfolio.css.map */
