//////////////////////////////////////////////VARIABLES/////////////////////////
$primary-color: #363636; //dark gray
$secondary-color: #e3e3e3; //white
$primary-font: 'Raleway', sans-serif;
$secondary-font: 'Josefin Sans', sans-serif;

//
$tablet-photo-height: 60vh;

////////////////////////////////////////////////////////////////////////////////


/////////////////////INDEX////////////////////
body {
  margin:0;
  padding:0;
  font-size: 16px;
  background-color: $primary-color;
  height: 100vh;
}
#outerWrapper {
  position: absolute;
  display: block;
  width: 1150px;
  height: 525px;
  margin: 0 auto;
  top:13%;
  left:0;
  right:0;
  bottom:0;
}
#header{
  width:100%;
  height: 10%;
  position: absolute;
  clear: both;
  h3{
    position: absolute;
    bottom: -35px;
    right: 0;
    font-size: 2em;
    padding-right: 2%;
    color:$secondary-color;
    font-family: $primary-font;
    span{
      font-size: .75em;
      padding-left: 15px;
      font-family: $secondary-font;
    }
  }
}
#menu{
  width:100%;
  height: 10%;
  position: absolute;
  clear: both;
  ul{
    position: absolute;
    right: 0px;
    bottom: -15px;
    width: 96%;
    li{
      float: right;
      padding-right: 3%;
      list-style-type: none;
      position: relative;
      a {
        margin-top:50px;
        text-decoration: none;
        color:$secondary-color;
        font-size: 1.25em;
        font-family: $primary-font;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    span {
      float: left;
      margin-left: -2%;
      margin-top: -25px;
    }
  }
}
#avLogo{
  width: 50px;
  height: auto;
  margin-bottom: -31px;
}
.fadeHeaders{
  &.ng-enter {
    -webkit-transition:.75s linear all;
    -moz-transition:.75s linear all;
    -o-transition:.75s linear all;
    transition:.75s linear all;

    opacity:0;
  }
  &.ng-enter.ng-enter-active {
    -webkit-transition-delay: .75s;
    opacity:1;
  }
  &.ng-leave {
    -webkit-transition:0.5s linear all;
    -moz-transition:0.5s linear all;
    -o-transition:0.5s linear all;
    transition:0.5s linear all;

    opacity:1;
  }
  &.ng-leave.ng-leave-active {
    opacity:0;
  }
}
#innerWrapper {
  width:100%;
  height: 90%;
  position: absolute;
  top:10%;
  &.ng-leave {
    -webkit-transition:0.5s linear all;
    -moz-transition:0.5s linear all;
    -o-transition:0.5s linear all;
    transition:0.5s linear all;

    opacity:1;
  }
  &.ng-leave.ng-leave-active {
    opacity:0;
  }
}
#copyright{
  position: absolute;
  bottom: -20px;
  right: 2.5%;
  color: $secondary-color;
  font-family: $secondary-font;
}
///////////////////////////////////////HOME/////////////////////////////////////
#homePhoto{
  position: relative;
  float: left;
  height:99.8%;
  width:33%;
  background-color: red;
  margin: 1px 1px 1px 1px;
  &.ng-enter {
    -webkit-transition: 0.65s linear all;
    -moz-transition: 0.65s linear all;
    -o-transition: 0.65s linear all;
    transition: 0.65s linear all;

    -webkit-transform: translateX(-35px);
    -moz-transform: translateX(-35px);
    -o-transform: translateX(-35px);
    transform: translateX(-35px);

    opacity:0;
  }

  &.ng-enter.ng-enter-active {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);

    opacity:1;
  }
  &.ng-leave {
    -webkit-transition:0.5s linear all;
    -moz-transition:0.5s linear all;
    -o-transition:0.5s linear all;
    transition:0.5s linear all;

    opacity:1;
  }
  &.ng-leave.ng-leave-active {
    opacity:0;
  }
}
#homeAbout{
  background-image: url(../photos/rope3.png);
  background-position:bottom left;
  background-repeat: no-repeat;
  background-size: cover;
  &.ng-enter {
    -webkit-transition:0.65s linear all;
    -moz-transition:0.65s linear all;
    -o-transition:0.65s linear all;
    transition:0.65s linear all;

    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -o-transform: translateY(-30px);
    transform: translateY(-30px);

    opacity:0;
  }

  &.ng-enter.ng-enter-active {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);

    opacity:1;

  }
  &.ng-leave {
    -webkit-transition:0.5s linear all;
    -moz-transition:0.5s linear all;
    -o-transition:0.5s linear all;
    transition:0.5s linear all;

    opacity:1;
  }
  &.ng-leave.ng-leave-active {
    opacity:0;
  }
}
#homePortfolio{
  background-image: url(../photos/computer2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  &.ng-enter {
    -webkit-transition:0.65s linear all;
    -moz-transition:0.65s linear all;
    -o-transition:0.65s linear all;
    transition:0.65s linear all;

    -webkit-transform: translate(30px, -30px);
    -moz-transform: translate(30px, -30px);
    -o-transform: translate(30px, -30px);
    transform: translate(30px, -30px);

    opacity:0;
  }
  &.ng-enter.ng-enter-active {
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    -o-transform: translate(0);
    transform: translate(0);

    opacity:1;
  }
  &.ng-leave {
    -webkit-transition:0.5s linear all;
    -moz-transition:0.5s linear all;
    -o-transition:0.5s linear all;
    transition:0.5s linear all;

    opacity:1;
  }
  &.ng-leave.ng-leave-active {
    opacity:0;
  }
}
#homeCv{
  // background-color: purple;
  // position: relative;
  // float: left;
  // width:34%;
  // height: 50%;
  // h2{
  //   position: absolute;
  //   font-size: 1.25em;
  //   bottom: -3%;
  //   right:5%;
  //   font-family: 'Raleway', sans-serif;
  // }
  background-image: url(../photos/guitar.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  &.ng-enter {
    -webkit-transition:0.65s linear all;
    -moz-transition:0.65s linear all;
    -o-transition:0.65s linear all;
    transition:0.65s linear all;

    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -o-transform: translateY(30px);
    transform: translateY(30px);

    opacity:0;
  }

  &.ng-enter.ng-enter-active {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);

    opacity:1;

  }
  &.ng-leave {
    -webkit-transition:0.5s linear all;
    -moz-transition:0.5s linear all;
    -o-transition:0.5s linear all;
    transition:0.5s linear all;

    opacity:1;
  }
  &.ng-leave.ng-leave-active {
    opacity:0;
  }
}
#homeContact{
  background-image: url(../photos/pen.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  &.ng-enter {
    -webkit-transition:0.65s linear all;
    -moz-transition:0.65s linear all;
    -o-transition:0.65s linear all;
    transition:0.65s linear all;

    -webkit-transform: translate(25px, 25px);
    -moz-transform: translate(25px, 25px);
    -o-transform: translate(25px, 25px);
    transform: translate(25px, 25px);

    opacity:0;
  }
  &.ng-enter.ng-enter-active {
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    -o-transform: translate(0);
    transform: translate(0);

    opacity:1;
  }
  &.ng-leave {
    -webkit-transition:0.5s linear all;
    -moz-transition:0.5s linear all;
    -o-transition:0.5s linear all;
    transition:0.5s linear all;

    opacity:1;
  }
  &.ng-leave.ng-leave-active {
    opacity:0;
  }
}
.homeLinks{
  position: relative;
  float: left;
  width:33%;
  height: 49.75%;
  margin: 1px 1px 1px 1px;
  &:hover{
    cursor: pointer;
  }
  h2{
    position: absolute;
    font-size: 1.5em;
    bottom: -3%;
    right:5%;
    font-family: $primary-font;
    color: black;
  }
}
//////////////////////////////////////ABOUT/////////////////////////////////////
#aboutPhoto {
  float: left;
  width:32%;
  height: 100%;
  background-image: url('../photos/aboutPhoto2.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  h2 {
    position: absolute;
    font-size: 1.5em;
    bottom: -2%;
    right: 5%;
    font-family: $primary-font;
    color: $secondary-color;
  }
  &.ng-enter {
    -webkit-transition:0.65s linear all;
    -moz-transition:0.65s linear all;
    -o-transition:0.65s linear all;
    transition:0.65s linear all;

    -webkit-transform: translateX(-35px);
    -moz-transform: translateX(-35px);
    -o-transform: translateX(-35px);
    transform: translateX(-35px);

    opacity:0;
  }

  &.ng-enter.ng-enter-active {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);

    opacity:1;
  }
  &.ng-leave {
    -webkit-transition:0.5s linear all;
    -moz-transition:0.5s linear all;
    -o-transition:0.5s linear all;
    transition:0.5s linear all;

    opacity:1;
  }
  &.ng-leave.ng-leave-active {
    opacity:0;
  }
}
#aboutContent{
  float: left;
  width: 67%;
  height: 100%;
  background-color:$secondary-color;
  position: relative;
  margin: 0px 0px 0px 2px;
  #aboutDiv{
    position: relative;
    width: 100%;
    h3{
      width: 80%;
      margin: 8% auto 0% auto;
      font-family: $secondary-font;
      font-size: 1.5em;
      color: $primary-color;
      position: relative;
    }
    p{
      width: 80%;
      margin: 4% auto;
      font-family: $secondary-font;
      font-size: 1.25em;
      color: $primary-color;
      span {
        margin-left: 20px
      }
    }
    img{
      width: 33%;
      height: auto;
      float: right;
      margin-right: 15%;
    }
  }
  &.ng-enter {
    -webkit-transition:0.65s linear all;
    -moz-transition:0.65s linear all;
    -o-transition:0.65s linear all;
    transition:0.65s linear all;

    -webkit-transform: translateX(35px);
    -moz-transform: translateX(35px);
    -o-transform: translateX(35px);
    transform: translateX(35px);

    opacity:0;
  }

  &.ng-enter.ng-enter-active {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);

    opacity:1;
  }
  &.ng-leave {
    -webkit-transition:0.5s linear all;
    -moz-transition:0.5s linear all;
    -o-transition:0.5s linear all;
    transition:0.5s linear all;

    opacity:1;
  }
  &.ng-leave.ng-leave-active {
    opacity:0;
  }
}
///////////////////////////////////////PORTFOLIO/////////////////////////////////////
.projects {
  float: left;
  width: 49.5%;
  height: 49.5%;
  position: relative;
  background-position: top;
  background-repeat: no-repeat;
  background-size:cover;
  margin: 1px 1px 1px 1px;
  &.ng-enter {
    -webkit-transition:.55s linear all;
    -moz-transition:.55s linear all;
    -o-transition:.55s linear all;
    transition:.55s linear all;

    opacity:0;
  }
  &.ng-enter.ng-enter-active {
    opacity:1;
  }
  h2 {
    position: absolute;
    bottom: -7%;
    right:1.5%;
    font-family: $primary-font;
    color: $secondary-color;
    font-size: 1.5em;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
}

///////////////////////////////////////CV/////////////////////////////////////
#cvPhoto {
  float: left;
  width:32%;
  height: 100%;
  background-color: purple;
  position: relative;
  h2 {
    position: absolute;
    bottom: -2%;
    right: 5%;
    font-family: $primary-font;
    color: $primary-color;
    font-size: 1.5em;
  }
  &.ng-enter {
    -webkit-transition:0.65s linear all;
    -moz-transition:0.65s linear all;
    -o-transition:0.65s linear all;
    transition:0.65s linear all;

    -webkit-transform: translateX(-35px);
    -moz-transform: translateX(-35px);
    -o-transform: translateX(-35px);
    transform: translateX(-35px);

    opacity:0;
  }

  &.ng-enter.ng-enter-active {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);

    opacity:1;
  }
  &.ng-leave {
    -webkit-transition:0.5s linear all;
    -moz-transition:0.5s linear all;
    -o-transition:0.5s linear all;
    transition:0.5s linear all;

    opacity:1;
  }
  &.ng-leave.ng-leave-active {
    opacity:0;
  }
}
#cvContent{
  float: left;
  width: 67%;
  height: 100%;
  background-color:$secondary-color;
  margin: 0px 0px 0px 2px;
  position: relative;
  &.ng-enter {
    -webkit-transition:0.65s linear all;
    -moz-transition:0.65s linear all;
    -o-transition:0.65s linear all;
    transition:0.65s linear all;

    -webkit-transform: translateX(35px);
    -moz-transform: translateX(35px);
    -o-transform: translateX(35px);
    transform: translateX(35px);

    opacity:0;
  }

  &.ng-enter.ng-enter-active {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);

    opacity:1;
  }
  &.ng-leave {
    -webkit-transition:0.5s linear all;
    -moz-transition:0.5s linear all;
    -o-transition:0.5s linear all;
    transition:0.5s linear all;

    opacity:1;
  }
  &.ng-leave.ng-leave-active {
    opacity:0;
  }
  #outerDivCV {
    width: 95%;
    height: 90%;
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-family: $secondary-font;
    font-size: 1.25em;
    color: $primary-color;
    .innerDivCV {
      float: left;
      width: 50%;
      height: 40%;
      text-align: center;
      h2{
        font-family: $secondary-font;
        font-size: 1.5em;
        color: $primary-color;
        text-decoration: underline;
      }
      table{
        // border: 1px solid black;
        width:92.5%;
        margin: -4% auto;
        .leftColumn {
          text-align: left;
        }
        .rightColumn {
          text-align: right;
        }
        span{
          color: black;
          font-weight: bolder;
        }
      }
    }
    .innerDivCValt {
      float: left;
      width: 100%;
      height: 60%;
      text-align: center;
      position: relative;
      h2{
        font-family: $secondary-font;
        font-size: 1.5em;
        color: $primary-color;
        text-decoration: underline;
      }
      table{
        // border: 1px solid black;
        width: 50%;
        margin: -4% auto;
        ul {
          list-style-type: none;
          text-align: left;
        }
      }
      a {
        margin: 4% auto;
        display: block;
        width: 10%;
        img{
          width: 40px;
          height: auto
        }
        &:hover {
          -webkit-filter: drop-shadow( 0px 5px 4px black);
          filter: drop-shadow( 0px 5px 4px black);
        }
      }
    }
  }
}

/////////////////////////////////////// CONTACT/////////////////////////////////////
#contactPhoto {
  float: left;
  width: 32%;
  height: 100%;
  // background-color: red;
  background-image: url('../photos/wireFrameSketch5.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  h2 {
    position: absolute;
    bottom: -2%;
    right: 5%;
    font-family: $primary-font;
    color: $primary-color;
    font-size: 1.5em;
  }
  &.ng-enter {
    -webkit-transition:0.65s linear all;
    -moz-transition:0.65s linear all;
    -o-transition:0.65s linear all;
    transition:0.65s linear all;

    -webkit-transform: translateX(-35px);
    -moz-transform: translateX(-35px);
    -o-transform: translateX(-35px);
    transform: translateX(-35px);

    opacity:0;
  }

  &.ng-enter.ng-enter-active {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);

    opacity:1;
  }
  &.ng-leave {
    -webkit-transition:0.5s linear all;
    -moz-transition:0.5s linear all;
    -o-transition:0.5s linear all;
    transition:0.5s linear all;

    opacity:1;
  }
  &.ng-leave.ng-leave-active {
    opacity:0;
  }
}
#contactContent {
  float: left;
  width: 67%;
  height: 100%;
  position: relative;
  background-color:$secondary-color;
  margin: 0px 0px 0px 2px;
  &.ng-enter {
    -webkit-transition:0.65s linear all;
    -moz-transition:0.65s linear all;
    -o-transition:0.65s linear all;
    transition:0.65s linear all;

    -webkit-transform: translateX(35px);
    -moz-transform: translateX(35px);
    -o-transform: translateX(35px);
    transform: translateX(35px);

    opacity:0;
  }

  &.ng-enter.ng-enter-active {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);

    opacity:1;
  }
  &.ng-leave {
    -webkit-transition:0.5s linear all;
    -moz-transition:0.5s linear all;
    -o-transition:0.5s linear all;
    transition:0.5s linear all;

    opacity:1;
  }
  &.ng-leave.ng-leave-active {
    opacity:0;
  }
  div {
    // background-color: yellow;
    position: relative;
    height: 60px;
    width:400px;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
    .socialMediaLinks {
      display: block;
      height: 60px;
      width: 25%;
      position: relative;
      float: left;
      // margin: 0% 2.5% 0% 2.5%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: auto 100%;
      -webkit-filter: brightness(75%); /* Chrome, Safari, Opera */
      filter: brightness(75%);
      // -webkit-transition: 1s linear; /* Safari */
      // transition: 1s linear;
      &:hover {
        -webkit-filter: brightness(100%); /* Chrome, Safari, Opera */
        filter: brightness(100%);
        -webkit-filter: drop-shadow( 0px 6px 5px black);
        filter: drop-shadow( 0px 6px 5px black);
      }
    }
  }
}
/////////////////////////////Tablets in portrait view//////////////////////////////////
@media screen and (max-width: 1025px){
////////////////////// INDEX/////////////////////////////////////////////////////////////////
  body {
    font-size: 16px;
    height: auto;
  }
  #outerWrapper {
    width:65%;
    height: auto;
    max-width: none;
    // min-width: inherit;
    // max-height: none;
    top:0;
  }
  #header{
    height: 115px;
    h3{
      bottom:-15px;
      font-size: 1.75em;
    }
  }
  #menu{
    height: 115px;
    ul{
      right: 0px;
      // bottom: -30px;
      width: 96%;
      li{
        padding-right: 2%;
        margin-bottom: 3%;
        a {
          font-size: 1.5em;
        }
      }
      span{
        margin-top: -22px;
      }
    }
  }
  #innerWrapper {
    width:100%;
    height: auto;
    top:100px;
    padding-bottom: 15%;
  }
  #copyright{
    display:none;
  }
//////////////////////HOME///////////////////////
  #homePhoto{
    height:$tablet-photo-height;
    min-height: 250px;
    width:100%;
    margin: 0px 0px 0px 0px;
    &.ng-enter {
      -webkit-transform: translate(0px);
      -moz-transform: translate(0px);
      -o-transform: translate(0px);
      transform: translate(0px);
    }
  }
  #homeAbout, #homePortfolio, #homeCv, #homeContact{
    &.ng-enter {
      -webkit-transform: translate(0px);
      -moz-transform: translate(0px);
      -o-transform: translate(0px);
      transform: translate(0px);
    }
  }
  .homeLinks{
    position: relative;
    width:100%;
    height: 20vh;
    min-height: 125px;
    margin: 2% 0px 0px 0px;
    h2{
      position: absolute;
      font-size: 1.5em;
      bottom: -3%;
      right:5%;
      color: black;
    }
  }
////////////////////////////ABOUT///////////////////////
  #aboutPhoto {
    float: left;
    width:100%;
    height: $tablet-photo-height;
    min-height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    h2 {
      font-size: 1.5em;
      bottom: -2%;
      right: 5%;
    }
    &.ng-enter {
      -webkit-transform: translate(0px);
      -moz-transform: translate(0px);
      -o-transform: translate(0px);
      transform: translate(0px);
    }
  }
  #aboutContent{
    width: 100%;
    height: auto;
    margin: 2% 0px 0px 0px;
    #aboutDiv{
      h3{
        width: 90%;
        margin: 8% auto 0% auto;
        font-size: 1.5em;
      }
      p{
        width: 90%;
        margin: 4% auto;
        font-size: 1.25em;
        span {
          margin-left: 20px
        }
      }
      img{
        width: 45%;
        height: auto;
        float: right;
        margin-right: 7%;
        margin-bottom: 8%;
      }
    }
    &.ng-enter {
      -webkit-transform: translate(0px);
      -moz-transform: translate(0px);
      -o-transform: translate(0px);
      transform: translate(0px);
    }
  }
//////////////////////////PORTFOLIO/////////////////////////////////////
  .projects {
    width: 100%;
    height: 30vh;
    min-height: 200px;
    margin: 0px 0px 1% 0px;
    h2 {
      bottom: 0%;
      right:1.5%;
      font-size: 1.25em;
    }
  }
  //////////////////////////////////CV//////////////////////////////////////////
  #cvPhoto {
    width:100%;
    height: $tablet-photo-height;
    min-height: 250px;
    h2 {
      bottom: -2%;
      right: 5%;
      font-size: 1.5em;
    }
    &.ng-enter {
      -webkit-transform: translateX(0px);
      -moz-transform: translateX(0px);
      -o-transform: translateX(0px);
      transform: translateX(0px);
    }
  }
  #cvContent{
    width: 100%;
    height: auto;
    margin: 2% 0px 0px 0px;
    &.ng-enter {
      -webkit-transform: translateX(0px);
      -moz-transform: translateX(0px);
      -o-transform: translateX(0px);
      transform: translateX(0px);
    }
    #outerDivCV {
      width: 100%;
      height: auto;
      margin: auto;
      top: 50%;
      transform: translateY(-50%);
      font-size: 1.25em;
      .innerDivCV {
        float: left;
        width: 100%;
        height: auto;
        margin:0 auto;
        h2{;
          font-size: 1.5em;
          text-decoration: underline;
        }
        table{
          // border: 1px solid black;
          width:95%;
          margin: 0 auto;
          .leftColumn {
            text-align: left;
          }
          .rightColumn {
            text-align: right;
          }
          span{
            color: black;
            font-weight: bolder;
          }
        }
      }
      .innerDivCValt {
        float: left;
        width: 100%;
        height: auto;
        text-align: center;
        position: relative;
        h2{
          font-size: 1.5em;
          text-decoration: underline;
        }
        table{
          // border: 1px solid black;
          width: 75%;
          margin: -4% auto;
          ul {
            list-style-type: none;
            text-align: left;
          }
        }
        a {
          margin: 4% auto;
          display: block;
          width: 20%;
          img{
            width: 40px;
            height: auto;
          }
        }
      }
    }
  }
//////////////////////CONTACT//////////////////////////////////////////////
  #contactPhoto {
    width: 100%;
    height: $tablet-photo-height;
    min-height: 250px;
    h2 {
      bottom: -2%;
      right: 5%;
      font-size: 1.5em;
    }
    &.ng-enter {
      -webkit-transform: translateX(0px);
      -moz-transform: translateX(0px);
      -o-transform: translateX(0px);
      transform: translateX(0px);
    }
  }
  #contactContent {
    width: 100%;
    height: 20vh;
    min-height: 200px;
    margin: 2% 0px 0px 0px;
    &.ng-enter {
      -webkit-transform: translateX(0px);
      -moz-transform: translateX(0px);
      -o-transform: translateX(0px);
      transform: translateX(0px);
    }
    div {
      height: 60px;
      width:60%;
      .socialMediaLinks {
        display: block;
        height: 45px;
        width: 25%;
        position: relative;
        float: left;
        // margin: 0% 2.5% 0% 2.5%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: auto 100%;
        -webkit-filter: brightness(75%); /* Chrome, Safari, Opera */
        filter: brightness(75%);
        // -webkit-transition: 1s linear; /* Safari */
        // transition: 1s linear;
      }
    }
  }

}
/////////////////////////////Phones in landscape view/////////////////////////////////
@media screen and (max-width: 700px){
////////////////////// INDEX/////////////////////////////////////////////////////////////////
  body {
    font-size: 18px;
    height: auto;
  }
  #header{
    height:75px;
    h3{
      span{
        display: none;
      }
    }
  }
  #outerWrapper {
    width:80%;
    height: auto;
    float: left;
  }
  #innerWrapper {
    top:60px;
    //10%
    padding-bottom: 8%;
  }
  #menu{
    height: 75px;
    ul{
      li{
        a {
          font-size: 1em;
        }
      }
      span{
        margin-top: -30px;
      }
    }
  }
  #aboutContent{
    #aboutDiv{
      img{
        width: 50%;
      }
    }
  }
}
/////////////////////////////Phones in portrait view/////////////////////////////////
@media screen and (max-width: 500px){
////////////////////// INDEX/////////////////////////////////////////////////////////////////
  body {
    font-size: 18px;
    height: auto;
  }
  #header{
    height:74px;
    h3{
      span{
        display: none;
      }
    }
  }
  #outerWrapper {
    width:100%;
    height: auto;
    float: left;
  }
  #innerWrapper {
    top:54px;
    padding-bottom: 8%;
  }
  #menu{
    height: 70px;
    ul{
      li{
        a {
          font-size: 1em;
        }
      }
      span {
        margin-top: -30px;
      }
    }
  }
  #aboutContent{
    #aboutDiv{
      img{
        width: 75%;
      }
    }
  }
}
