//////////////////////////////////////////////VARIABLES/////////////////////////
$primary-color: #363636; //dark gray
$secondary-color: #e3e3e3; //white
$primary-font: 'Raleway', sans-serif;
$secondary-font: 'Josefin Sans', sans-serif;
$tablet-photo-height: 60vh;
//////////////////////////////////////////////MIXINS//////////////////////////
@mixin animationSlideIn($fadeInTime, $slideIn) {
  &.ng-enter {
    -webkit-transition: ($fadeInTime) ease-in all;
    -moz-transition: ($fadeInTime) ease-in all;
    -o-transition: ($fadeInTime) ease-in all;
    transition: ($fadeInTime) ease-in all;

    -webkit-transform: ($slideIn);
    -moz-transform: ($slideIn);
    -o-transform: ($slideIn);
    transform: ($slideIn);

    opacity:0;
  }

  &.ng-enter.ng-enter-active {
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    -o-transform: translate(0);
    transform: translate(0);

    opacity:1;
  }
  &.ng-leave {
    -webkit-transition:0.5s linear all;
    -moz-transition:0.5s linear all;
    -o-transition:0.5s linear all;
    transition:0.5s linear all;

    opacity:1;
  }
  &.ng-leave.ng-leave-active {
    opacity:0;
  }
}
@mixin backgroundImagePosition($position) {
  background-position:$position;
  background-repeat: no-repeat;
  background-size: cover;
}
@mixin homeDivSize() {
  width:33%;
  height: 49.75%;
}
@mixin templatePhotos() {
  float: left;
  width:33%;
  height: 100%;
  position: relative;
}
@mixin templateContent() {
  float: left;
  width: 66.75%;
  height: 100%;
  background-color:$secondary-color;
  position: relative;
  margin: 0px 0px 0px 2px;
}
@mixin templatePhotoTitle() {
  position: absolute;
  bottom: -2%;
  right: 5%;
  font-family: $primary-font;
  color: $primary-color;
  font-size: 1.5em;
}
@mixin templatePhotoTitleTablet() {
  bottom: -2%;
  right: 5%;
  font-size: 1.5em;
}
////////////////////////////////////////////////////////////////////////////////


/////////////////////INDEX////////////////////

body {
  margin:0;
  padding:0;
  font-size: 16px;
  background-color: $primary-color;
  height: 100vh;
  position: relative;
}
#outerWrapper {
  position: absolute;
  display: block;
  width: 1150px;
  height: 525px;
  margin: 0 auto;
  top:13%;
  left:0;
  right:0;
  bottom:0;
}
#header{
  h3{
    position: absolute;
    bottom: -35px;
    right: 0;
    font-size: 2em;
    padding-right: 2%;
    color:$secondary-color;
    font-family: $primary-font;
    span{
      font-size: .75em;
      padding-left: 15px;
      font-family: $secondary-font;
    }
  }
}
#menu{
  ul{
    position: absolute;
    right: 0px;
    bottom: -15px;
    width: 96%;
    li{
      float: right;
      padding-right: 3%;
      list-style-type: none;
      position: relative;
      a {
        margin-top:50px;
        text-decoration: none;
        color:$secondary-color;
        font-size: 1.25em;
        font-family: $primary-font;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    span {
      float: left;
      margin-left: -2%;
      margin-top: -25px;
    }
  }
}
#avLogo{
  width: 50px;
  height: auto;
  margin-bottom: -31px;
}
.fadeHeaders{
  width:100%;
  height: 10%;
  position: absolute;
  clear: both;
  &.ng-enter {
    -webkit-transition:.75s linear all;
    -moz-transition:.75s linear all;
    -o-transition:.75s linear all;
    transition:.75s linear all;

    opacity:0;
  }
  &.ng-enter.ng-enter-active {
    -webkit-transition-delay: .75s;
    opacity:1;
  }
  &.ng-leave {
    -webkit-transition:0.5s linear all;
    -moz-transition:0.5s linear all;
    -o-transition:0.5s linear all;
    transition:0.5s linear all;

    opacity:1;
  }
  &.ng-leave.ng-leave-active {
    opacity:0;
  }
}
#innerWrapper {
  width:100%;
  height: 90%;
  position: absolute;
  top:10%;
  @include animationSlideIn(0.5s,(translateX(0px)));
  #templateLoad{
    position: relative;
    width:100%;
    height: 100%;
  }
}
#copyright{
  position: absolute;
  bottom: -37px;
  right: 2.5%;
  color: $secondary-color;
  font-family: $secondary-font;
}
///////////////////////////////////////HOME/////////////////////////////////////
#homePhoto{
  height:99.9%;
  width:33.45%;
  background-color: red;
  @include backgroundImagePosition(center);
  @include animationSlideIn(0.5s,(translateX(-30px)));
}
#homeAbout{
  background-image: url(../photos/rope3.png);
  @include backgroundImagePosition(bottom);
  @include animationSlideIn(0.6s,(translateY(-30px)));
  @include homeDivSize;
}
#homePortfolio{
  background-image: url(../photos/computer2.png);
  @include backgroundImagePosition(center);
  @include animationSlideIn(0.6s,(translate(30px,-30px)));
  @include homeDivSize;
}
#homeCv{
  background-image: url(../photos/guitar.png);
  @include backgroundImagePosition(center);
  @include animationSlideIn(0.6s,(translateY(30px)));
  @include homeDivSize;
}
#homeContact{
  background-image: url(../photos/pen.png);
  @include backgroundImagePosition(center);
  @include animationSlideIn(0.6s,(translate(25px,25px)));
  @include homeDivSize;
}
.homeLinks{
  position: relative;
  float: left;
  margin: 1px 1px 1px 1px;
  &:hover{
    cursor: pointer;
  }
  h2{
    position: absolute;
    font-size: 1.5em;
    bottom: -4%;
    right:5%;
    font-family: $primary-font;
    color: $primary-color;
  }
}
//////////////////////////////////////ABOUT/////////////////////////////////////
#aboutPhoto {
  background-image: url('../photos/aboutPhoto2.png');
  @include backgroundImagePosition(center);
  @include templatePhotos();
  @include animationSlideIn(0.65s,(translateX(-35px)));
  h2 {
    @include templatePhotoTitle();
    color: white;
  }

}
#aboutContent{
  @include templateContent();
  @include animationSlideIn(0.65s,(translateX(35px)));
  #aboutDiv{
    position: relative;
    width: 100%;
    h3{
      width: 80%;
      margin: 8% auto 0% auto;
      font-family: $secondary-font;
      font-size: 1.5em;
      color: $primary-color;
      position: relative;
    }
    p{
      width: 80%;
      margin: 4% auto;
      font-family: $secondary-font;
      font-size: 1.25em;
      color: $primary-color;
      span {
        margin-left: 20px
      }
    }
    img{
      width: 33%;
      height: auto;
      float: right;
      margin-right: 15%;
    }
  }
}
///////////////////////////////////////PORTFOLIO/////////////////////////////////////
.projects {
  float: left;
  width: 49.8%;
  height: 49.5%;
  position: relative;
  margin: 1px 1px 1px 1px;
  @include backgroundImagePosition(top);
  @include animationSlideIn(0.5s,(translate(0px)));
  h2 {
    position: absolute;
    bottom: -7%;
    right:1.5%;
    font-family: $primary-font;
    color: $secondary-color;
    font-size: 1.5em;
    text-shadow: -1px 0 $primary-color, 0 1px $primary-color, 1px 0 $primary-color, 0 -1px $primary-color;
  }
}

///////////////////////////////////////CV/////////////////////////////////////
#cvPhoto {
  background-image: url('../photos/computerDesk.png');
  @include backgroundImagePosition(center);
  @include templatePhotos();
  @include animationSlideIn(0.55s,(translateX(-35px)));
  h2 {
    @include templatePhotoTitle();
  }
}
#cvContent{
  @include templateContent();
  @include animationSlideIn(0.65s,(translateX(35px)));
  #outerDivCV {
    width: 95%;
    height: 90%;
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-family: $secondary-font;
    font-size: 1.25em;
    color: $primary-color;
    .innerDivCV {
      float: left;
      width: 50%;
      height: 40%;
      text-align: center;
      h2{
        font-family: $secondary-font;
        font-size: 1.5em;
        color: $primary-color;
        text-decoration: underline;
      }
      table{
        // border: 1px solid black;
        width:92.5%;
        margin: -4% auto;
        .leftColumn {
          text-align: left;
        }
        .rightColumn {
          text-align: right;
        }
        span{
          color: black;
          font-weight: bolder;
        }
      }
    }
    .innerDivCValt {
      float: left;
      width: 100%;
      height: 60%;
      text-align: center;
      position: relative;
      h2{
        font-family: $secondary-font;
        font-size: 1.5em;
        color: $primary-color;
        text-decoration: underline;
      }
      table{
        // border: 1px solid black;
        width: 50%;
        margin: -4% auto;
        ul {
          list-style-type: none;
          text-align: left;
        }
      }
      a {
        margin: 4% auto;
        display: block;
        width: 10%;
        img{
          width: 40px;
          height: auto
        }
        &:hover {
          -webkit-filter: drop-shadow( 0px 5px 4px black);
          filter: drop-shadow( 0px 5px 4px black);
        }
      }
    }
  }
}

/////////////////////////////////////// CONTACT/////////////////////////////////////
#contactPhoto {
  background-image: url('../photos/wireFrameSketch5.png');
  @include templatePhotos();
  @include backgroundImagePosition(center);
  @include animationSlideIn(0.65s,(translateX(-35px)));
  h2 {
    @include templatePhotoTitle();
  }
}
#contactContent {
  @include templateContent();
  @include animationSlideIn(0.65s,(translateX(35px)));
  position: relative;
  div {
    position: relative;
    height: 60px;
    width:50%;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
    .socialMediaLinks {
      display: block;
      height: 60px;
      width: 33.33%;
      position: relative;
      float: left;
      background-position: center;
      background-repeat: no-repeat;
      background-size: auto 100%;
      -webkit-filter: brightness(75%); /* Chrome, Safari, Opera */
      filter: brightness(75%);
      &:hover {
        -webkit-filter: brightness(100%); /* Chrome, Safari, Opera */
        filter: brightness(100%);
        -webkit-filter: drop-shadow( 0px 6px 5px black);
        filter: drop-shadow( 0px 6px 5px black);
      }
    }
  }
}
/////////////////////////////Tablets in portrait view//////////////////////////////////
@media screen and (max-width: 1025px){
////////////////////// INDEX/////////////////////////////////////////////////////////////////
  body {
    height: auto;
  }
  #outerWrapper {
    width:65%;
    height: auto;
    max-width: none;
    top:0;
  }
  #header{
    height: 115px;
    h3{
      bottom:-15px;
      font-size: 1.75em;
    }
  }
  #menu{
    height: 115px;
    ul{
      right: 0px;
      width: 96%;
      li{
        padding-right: 2%;
        margin-bottom: 3%;
      }
      span{
        margin-top: -25px;
      }
    }
  }
  #innerWrapper {
    width:100%;
    height: auto;
    top:100px;
    padding-bottom: 15%;
  }
  #copyright{
    display: none;
  }
//////////////////////HOME///////////////////////
  #homePhoto{
    height:$tablet-photo-height;
    min-height: 250px;
    width:100%;
    margin: 0px 0px 0px 0px;
    @include animationSlideIn(0.65s,(translateY(0px)));
  }
  #homeAbout, #homePortfolio, #homeCv, #homeContact{
    @include animationSlideIn(0.65s,(translateY(0px)));
    width:100%;
    height: 20vh;
    min-height: 125px;
    margin: 2% 0px 0px 0px;
    h2{
      font-size: 1.5em;
      bottom: -3%;
      right:5%;
    }
  }
  #homeCv {
    @include backgroundImagePosition(bottom);
  }
////////////////////////////ABOUT///////////////////////
  #aboutPhoto {
    width:100%;
    height: $tablet-photo-height;
    min-height: 250px;
    h2 {
      @include templatePhotoTitleTablet();
    }
    @include animationSlideIn(0.65s,(translateX(0px)));
  }
  #aboutContent{
    width: 100%;
    height: auto;
    margin: 2% 0px 0px 0px;
    @include animationSlideIn(0.65s,(translateX(0px)));
    #aboutDiv{
      h3{
        width: 90%;
        margin: 8% auto 0% auto;
        font-size: 1.5em;
      }
      p{
        width: 90%;
        margin: 4% auto;
        font-size: 1.25em;
        span {
          margin-left: 20px
        }
      }
      img{
        width: 45%;
        height: auto;
        float: right;
        margin-right: 7%;
        margin-bottom: 8%;
      }
    }
  }
//////////////////////////PORTFOLIO/////////////////////////////////////
  .projects {
    width: 100%;
    height: 30vh;
    min-height: 200px;
    margin: 0px 0px 1% 0px;
    h2 {
      bottom: -6%;
      right:1.5%;
      font-size: 1.25em;
    }
  }
  //////////////////////////////////CV//////////////////////////////////////////
  #cvPhoto {
    width:100%;
    height: $tablet-photo-height;
    min-height: 250px;
    @include animationSlideIn(0.65s,(translateX(0px)));
    h2 {
      @include templatePhotoTitleTablet();
    }
  }
  #cvContent{
    width: 100%;
    height: auto;
    margin: 2% 0px 0px 0px;
    @include animationSlideIn(0.65s,(translateX(0px)));
    #outerDivCV {
      width: 100%;
      height: auto;
      margin: auto;
      top: 50%;
      transform: translateY(-50%);
      font-size: 1.25em;
      .innerDivCV {
        float: left;
        width: 100%;
        height: auto;
        margin:0 auto;
        h2{;
          font-size: 1.5em;
        }
        table{
          width:95%;
          margin: 0 auto;
          .leftColumn {
            text-align: left;
          }
          .rightColumn {
            text-align: right;
          }
        }
      }
      .innerDivCValt {
        float: left;
        width: 100%;
        height: auto;
        text-align: center;
        position: relative;
        h2{
          font-size: 1.5em;
          text-decoration: underline;
        }
        table{
          width: 75%;
          margin: -4% auto;
        }
        a {
          margin: 4% auto;
          display: block;
          width: 20%;

        }
      }
    }
  }
//////////////////////CONTACT//////////////////////////////////////////////
  #contactPhoto {
    width: 100%;
    height: $tablet-photo-height;
    min-height: 250px;
    h2 {
      @include templatePhotoTitleTablet();
    }
    @include animationSlideIn(0.65s,(translateX(0px)));
  }
  #contactContent {
    width: 100%;
    height: 20vh;
    min-height: 200px;
    margin: 2% 0px 0px 0px;
    @include animationSlideIn(0.65s,(translateX(0px)));
    div {
      height: 60px;
      width:60%;
      .socialMediaLinks {
        height: 45px;
      }
    }
  }

}
/////////////////////////////Smart phones in landscape view/////////////////////////////////
@media screen and (max-width: 700px){
////////////////////// INDEX/////////////////////////////////////////////////////////////////
  body {
    font-size: 15px;
    height: auto;
  }
  #header{
    height:75px;
    h3{
      font-size: 2em;
      span{
        display: none;
      }
    }
  }
  #outerWrapper {
    width:80%;
    height: auto;
    float: left;
  }
  #innerWrapper {
    top:60px;
    //10%
    padding-bottom: 8%;
  }
  #menu{
    height: 70px;
    ul{
      span{
        margin-top: -25px;
      }
    }
  }
  #aboutContent{
    #aboutDiv{
      img{
        width: 50%;
      }
    }
  }
  .homeLinks{
    h2{
      bottom: -8%;
    }
  }
}
/////////////////////////////Smart phones in portrait view/////////////////////////////////
@media screen and (max-width: 500px){
////////////////////// INDEX/////////////////////////////////////////////////////////////////
  body {
    font-size: 18px;
    height: auto;
  }
  #header{
    height:74px;
  }
  #outerWrapper {
    width:100%;
    height: auto;
    float: left;
  }
  #innerWrapper {
    top:54px;
    padding-bottom: 8%;
  }
  #menu{
    height: 68px;
    ul{
      li{
        a {
          font-size: 1em;
        }
      }
      span {
        margin-top: -30px;
      }
    }
  }
  #aboutContent{
    #aboutDiv{
      img{
        width: 75%;
      }
    }
  }
  #cvContent{
    #outerDivCV {
      .innerDivCValt {
        table{
          width: 100%;
        }
      }
    }
  }
}
//////////////////////Small smart phones in portrait view////////////////////
@media screen and (max-width: 350px){
  #menu{
    ul{
      bottom: -10px;
      span {
        display: none;
      }
    }
  }
  #cvContent{
    #outerDivCV {
      font-size: 1.15em;
      // .innerDivCV {
      //   h2{
      //     font-size: 1.5em;
      //   }
      // }
      // .innerDivCValt {
      //   h2{
      //     font-size: 1.5em;
      //   }
      // }
    }
  }
  #contactContent {
    div {
      width:75%;
    }
  }
}
