//INDEX
body {
  margin:0;
  padding:0;
  font-size: 16px;
  background-color: #363636;
  height: 100vh;
}
#outerWrapper {
  position: absolute;
  width:90%;
  height: 80vh;
  margin: auto;
  top:0;
  left:0;
  right:0;
  bottom:0;
}
#header{
  width:100%;
  height: 10%;
  position: absolute;
  h3{
    position: absolute;
    bottom: -25px;
    right: 0;
    font-size: 1.5em;
    padding-right: 2%;
    color:#e3e3e3;
    font-family: 'Josefin Sans', sans-serif;
    span{
      font-size: 1.5em;
      padding-right: 15px;
      font-family: 'Raleway', sans-serif;
    }
  }
}
#menu{
  width:100%;
  height: 10%;
  position: absolute;
  ul{
    position: absolute;
    right: 0px;
    bottom: -15px;
    width: 96%;
    li{
      float: right;
      padding-right: 2%;
      list-style-type: none;
      a {
        text-decoration: none;
        color:#e3e3e3;
        font-size: 1.25em;
        font-family: 'Raleway', sans-serif;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
.fadeHeaders{
  &.ng-enter {
    -webkit-transition:.75s linear all;
    opacity:0;
  }
  &.ng-enter.ng-enter-active {
    -webkit-transition-delay: .75s;
    opacity:1;
  }
  &.ng-leave {
    -webkit-transition:0.5s linear all;
    opacity:1;
  }
  &.ng-leave.ng-leave-active {
    opacity:0;
  }
}
#innerWrapper {
  width:100%;
  height: 90%;
  position: absolute;
  top:10%;
  &.ng-leave {
    -webkit-transition:0.5s linear all;
    opacity:1;
  }
  &.ng-leave.ng-leave-active {
    opacity:0;
  }
}
//HOME
#homePhoto{
  position: relative;
  float: left;
  height:100%;
  width:32%;
  background-color: red;
  &.ng-enter {
    -webkit-transition:0.65s linear all;
    -webkit-transform: translateX(-35px);
    transform: translateX(-35px);
    opacity:0;
  }

  &.ng-enter.ng-enter-active {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity:1;
  }
  &.ng-leave {
    -webkit-transition:0.5s linear all;
    opacity:1;
  }
  &.ng-leave.ng-leave-active {
    opacity:0;
  }
}
#homeAbout{
  background-color: black;
  &.ng-enter {
    -webkit-transition:0.65s linear all;
    -webkit-transform: translateY(-35px);
    transform: translateY(-35px);
    opacity:0;
  }

  &.ng-enter.ng-enter-active {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity:1;
  }
  &.ng-leave {
    -webkit-transition:0.5s linear all;
    opacity:1;
  }
  &.ng-leave.ng-leave-active {
    opacity:0;
  }
}
#homePortfolio{
  background-color: white;
  &.ng-enter {
    -webkit-transition:0.65s linear all;
    -webkit-transform: translate(30px, -30px);
    transform: translate(30px, -30px);
    opacity:0;
  }
  &.ng-enter.ng-enter-active {
    -webkit-transform: translate(0);
    transform: translate(0);
    opacity:1;
  }
  &.ng-leave {
    -webkit-transition:0.5s linear all;
    opacity:1;
  }
  &.ng-leave.ng-leave-active {
    opacity:0;
  }
}
#homeCv{
  background-color: purple;
  &.ng-enter {
    -webkit-transition:0.65s linear all;
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
    opacity:0;
  }

  &.ng-enter.ng-enter-active {
    opacity:1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  &.ng-leave {
    -webkit-transition:0.5s linear all;
    opacity:1;
  }
  &.ng-leave.ng-leave-active {
    opacity:0;
  }
}
#homeContact{
  background-color: blue;
  &.ng-enter {
    -webkit-transition:0.65s linear all;
    -webkit-transform: translate(25px, 25px);
    transform: translate(25px, 25px);
    opacity:0;
  }
  &.ng-enter.ng-enter-active {
    opacity:1;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  &.ng-leave {
    -webkit-transition:0.5s linear all;
    opacity:1;
  }
  &.ng-leave.ng-leave-active {
    opacity:0;
  }
}
.homeLinks{
  position: relative;
  float: left;
  width:34%;
  height: 50%;
  h2{
    position: absolute;
    font-size: 1.25em;
    bottom: -3%;
    right:5%;
    font-family: 'Raleway', sans-serif;
  }
}
//ABOUT
#aboutPhoto {
  float: left;
  width:32%;
  height: 100%;
  background-color: green;
  position: relative;
  h2 {
    position: absolute;
    bottom: -2%;
    right: 5%;
    font-family: 'Raleway', sans-serif;
  }
  &.ng-enter {
    -webkit-transition:0.65s linear all;
    -webkit-transform: translateX(-35px);
    transform: translateX(-35px);
    opacity:0;
  }

  &.ng-enter.ng-enter-active {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity:1;
  }
  &.ng-leave {
    -webkit-transition:0.5s linear all;
    opacity:1;
  }
  &.ng-leave.ng-leave-active {
    opacity:0;
  }
}
#aboutContent{
  float: left;
  width: 68%;
  height: 100%;
  background-color: gray;
  position: relative;
  h3{
    width: 85%;
    top: 4%;
    margin: 5% auto 0% auto;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5em;
  }
  p{
    width: 85%;
    top: 10%;
    margin: 3% auto 0% auto;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.25em;
    span {
      margin-left: 15px
    }
  }
  &.ng-enter {
    -webkit-transition:0.65s linear all;
    -webkit-transform: translateX(35px);
    transform: translateX(35px);
    opacity:0;
  }

  &.ng-enter.ng-enter-active {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity:1;
  }
  &.ng-leave {
    -webkit-transition:0.5s linear all;
    opacity:1;
  }
  &.ng-leave.ng-leave-active {
    opacity:0;
  }
}
//PORTFOLIO
.projects {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  &.ng-enter {
    -webkit-transition:.55s linear all;
    opacity:0;
  }
  &.ng-enter.ng-enter-active {
    opacity:1;
  }
  h2 {
    position: absolute;
    bottom: -4%;
    right:3%;
    font-family: 'Raleway', sans-serif;
  }
}

//CV
#cvPhoto {
  float: left;
  width:32%;
  height: 100%;
  background-color: purple;
  position: relative;
  h2 {
    position: absolute;
    bottom: -2%;
    right: 5%;
    font-family: 'Raleway', sans-serif;
  }
  &.ng-enter {
    -webkit-transition:0.65s linear all;
    -webkit-transform: translateX(-35px);
    transform: translateX(-35px);
    opacity:0;
  }

  &.ng-enter.ng-enter-active {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity:1;
  }
  &.ng-leave {
    -webkit-transition:0.5s linear all;
    opacity:1;
  }
  &.ng-leave.ng-leave-active {
    opacity:0;
  }
}
#cvContent{
  float: left;
  width: 68%;
  height: 100%;
  background-color: black;
  &.ng-enter {
    -webkit-transition:0.65s linear all;
    -webkit-transform: translateX(35px);
    transform: translateX(35px);
    opacity:0;
  }

  &.ng-enter.ng-enter-active {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity:1;
  }
  &.ng-leave {
    -webkit-transition:0.5s linear all;
    opacity:1;
  }
  &.ng-leave.ng-leave-active {
    opacity:0;
  }
}

// CONTACT
#contactPhoto {
  float: left;
  width: 32%;
  height: 100%;
  background-color: red;
  position: relative;
  h2 {
    position: absolute;
    bottom: -2%;
    right: 5%;
    font-family: 'Raleway', sans-serif;
  }
  &.ng-enter {
    -webkit-transition:0.65s linear all;
    -webkit-transform: translateX(-35px);
    transform: translateX(-35px);
    opacity:0;
  }

  &.ng-enter.ng-enter-active {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity:1;
  }
  &.ng-leave {
    -webkit-transition:0.5s linear all;
    opacity:1;
  }
  &.ng-leave.ng-leave-active {
    opacity:0;
  }
}
#contactContent {
  float: left;
  width: 68%;
  height: 100%;
  background-color: green;
  &.ng-enter {
    -webkit-transition:0.65s linear all;
    -webkit-transform: translateX(35px);
    transform: translateX(35px);
    opacity:0;
  }

  &.ng-enter.ng-enter-active {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity:1;
  }
  &.ng-leave {
    -webkit-transition:0.5s linear all;
    opacity:1;
  }
  &.ng-leave.ng-leave-active {
    opacity:0;
  }
}
