<div id="aboutPhoto" ng-if="fade">
  <h2>About</h2>
</div>

<div id="aboutContent" ng-if="fade">
  <h3>Hello,</h3>
  <p>
    <span>As</span> you can tell, my name is Anthony Vu and I am a Front-End Web Developer.
    I am also an optometrist, climbing hobbyist, guitar enthusiast, and a
    self-proclaimed bicycle mechanic. I am constantly learning and looking for new
    challenges that push my physical and mental abilities. I am highly concerned
    about my quality of work and efficiency. Please use the contents of this
    website to learn about me, my projects, and to contact me if you have any questions.
  </p>
</div>
