<div id="aboutPhoto" ng-if="fade">
  <h2>About</h2>
</div>

<div id="aboutContent" ng-if="fade">
  <div id="aboutDiv">
    <h3>Hello,</h3>
    <p>
      <span>As</span> you can tell, my name is Anthony Vu and I am a Front-End Web Developer.
      I am also an optometrist, climbing hobbyist, guitar enthusiast, and a
      self-proclaimed bicycle mechanic. I am constantly looking for a new
      challenge that expands my abilities and helps me produce quality work in an
      efficient manner. I am searching for an environment would allow me to grow
      not only as a developer but also as a worker, a friend, and
      a person. Please use the contents of this website to learn about me, my
      projects, and to contact me if you have any questions or inquires.
    </p>
    <img src="photos/signature.png" alt="" />
  </div>
</div>
