<div id="cvPhoto" ng-if="fade">
  <h2>Curriculum Vitae</h2>
</div>

<div id="cvContent" ng-if="fade">
  <div id="outerDivCV">
    <div class="innerDivCV">
      <h2>Experience</h2>
      <table>
        <tr>
          <td class="leftColumn"><span>Freelance</span><br> Front-End Web Developer</td>
          <td class="rightColumn">'16-present</td>
        </tr>
        <tr>
          <td class="leftColumn"><span>Independent Contractor</span><br> Optometrist</td>
          <td class="rightColumn">'14-present</td>
        </tr>
      </table>
    </div>

    <div class="innerDivCV">
      <h2>Education</h2>
      <table>
        <tr>
          <td class="leftColumn"><span>Nova Southeastern University</span><br> O.D. Doctor of Optometry</td>
          <td class="rightColumn">'08-'12</td>
        </tr>
        <tr>
          <td class="leftColumn"><span>University of Florida</span><br> B.S. Applied Physiology</td>
          <td class="rightColumn">'04-'08</td>
        </tr>
      </table>
    </div>

    <div class="innerDivCValt">
      <h2>Technical Skills</h2>
      <table>
        <tr>
          <td>
            <ul>
              <li>HTML</li>
              <li>CSS</li>
              <li>Javascript</li>
              <li>VueJS</li>
              <li>AngularJS 1.x</li>
            </ul>
          </td>
          <td>
            <ul>
              <li>SCSS/SASS</li>
              <li>Bootstrap</li>
              <li>GitHub</li>
              <li>Photo editing</li>
              <li>Responsive Design</li>
            </ul>
          </td>
        </tr>
      </table>
      <a href="https://drive.google.com/file/d/0B3eMhrl5TV6CbXN2WXZTT0tNaUk/view?usp=sharing" target="_blank"><img src="photos/file.png" alt="" /><br>Resume</a>
    </div>

  </div>
</div>
