<div id="homePhoto" class="homeLinks" ng-if="fade">
</div>

<div id="homeAbout" class="homeLinks" ng-if="fade" ng-click="changePath('/about')">
    <h2>About</h2>
</div>

<div id="homePortfolio" class="homeLinks" ng-if="fade" ng-click="changePath('/portfolio')">
  <h2>Portfolio</h2>
</div>

<div id="homeCv" class="homeLinks" ng-if="fade" ng-click="changePath('/cv')">
  <h2>Curriculum Vitae</h2>
</div>

<div id="homeContact" class="homeLinks" ng-if="fade" ng-click="changePath('/contact')">
  <h2>Contact</h2>
</div>
