<div id="homePhoto" ng-if="fade">
  <img src="" />
</div>

<a href="#/about">
  <div id="homeAbout" class="homeLinks" ng-if="fade">
    <h2>About</h2>
  </div>
</a>

<a href="#/portfolio">
  <div id="homePortfolio"  class="homeLinks" ng-if="fade">
    <h2>Portfolio</h2>
  </div>
</a>

<a href="#/workflow">
  <div id="homeTBD" class="homeLinks" ng-if="fade">
    <h2>workflow</h2>
  </div>
</a>

<a href="#/contact">
  <div id="homeContact" class="homeLinks" ng-if="fade">
    <h2>Contact</h2>
  </div>
</a>
